<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.EmpDao">
    <resultMap id="BaseResultMap" type="com.ssm.domain.Emp">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pwd" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, pwd
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_emp
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ssm.domain.Emp">
    insert into tb_emp (id, name, pwd
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ssm.domain.Emp">
        insert into tb_emp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.domain.Emp">
        update tb_emp
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssm.domain.Emp">
    update tb_emp
    set name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--=============================================================================-->
    <select id="selectByNameAndPass" resultType="com.ssm.domain.Emp">
        select
        <include refid="Base_Column_List"/>
        from tb_emp
        where name= #{name,jdbcType=INTEGER} and
        pwd = #{pass}
    </select>

    <select id="selectAuthInGroup" resultType="com.ssm.domain.AuthAndGroup" parameterType="java.lang.Integer">
        select tb_auth.id,tb_auth.name,tb_auth.url,tb_auth.op, tb_authgroup.id as authgroupId,tb_authgroup.name as groupName
        from tb_auth
        inner join tb_authgroup
        inner join tb_role_authgroup
        inner join tb_role
        inner join tb_emp_role
        inner join tb_emp
        on tb_auth.authgroup_id = tb_authgroup.id
        and tb_authgroup.id = tb_role_authgroup.authgroup_id
        and tb_role.id = tb_role_authgroup.role_id
        and tb_role.id = tb_emp_role.role_id
        and tb_emp_role.emp_id = tb_emp.id
        where tb_emp.id = #{id}
    </select>

    <select id="selectAuthOutGroup" resultType="com.ssm.domain.AuthAndGroup" parameterType="java.lang.Integer">
        select tb_auth.id,tb_auth.name,tb_auth.url,tb_auth.op
        from tb_auth
        inner join tb_role_auth
        inner join tb_role
        inner join tb_emp_role
        inner join tb_emp
        on tb_role_auth.auth_id = tb_auth.id
        and tb_role.id = tb_role_auth.role_id
        and tb_emp_role.role_id = tb_role.id
        and tb_emp.id = tb_emp_role.emp_id
        where tb_emp.id = #{id}
    </select>

</mapper>